$red-50: #f44336;
$red-100: #f44336;
$red-200: #f44336;
$red-300: #f44336;
$red-400: #f44336;
$red-500: #f44336;
$red-600: #f44336;
$red-700: #f44336;
$red-800: #f44336;
$red-900: #f44336;
$red: #f44336;
$red-a100: #f44336;
$red-a200: #f44336;
$red-a400: #f44336;
$red-a700: #f44336;
$pink-50: #e91e63;
$pink-100: #e91e63;
$pink-200: #e91e63;
$pink-300: #e91e63;
$pink-400: #e91e63;
$pink-500: #e91e63;
$pink-600: #e91e63;
$pink-700: #e91e63;
$pink-800: #e91e63;
$pink-900: #e91e63;
$pink: #e91e63;
$pink-a100: #e91e63;
$pink-a200: #e91e63;
$pink-a400: #e91e63;
$pink-a700: #e91e63;
$purple-50: #9c27b0;
$purple-100: #9c27b0;
$purple-200: #9c27b0;
$purple-300: #9c27b0;
$purple-400: #9c27b0;
$purple-500: #9c27b0;
$purple-600: #9c27b0;
$purple-700: #9c27b0;
$purple-800: #9c27b0;
$purple-900: #9c27b0;
$purple: #9c27b0;
$purple-a100: #9c27b0;
$purple-a200: #9c27b0;
$purple-a400: #9c27b0;
$purple-a700: #9c27b0;
$deep-purple-50: #673ab7;
$deep-purple-100: #673ab7;
$deep-purple-200: #673ab7;
$deep-purple-300: #673ab7;
$deep-purple-400: #673ab7;
$deep-purple-500: #673ab7;
$deep-purple-600: #673ab7;
$deep-purple-700: #673ab7;
$deep-purple-800: #673ab7;
$deep-purple-900: #673ab7;
$deep-purple: #673ab7;
$deep-purple-a100: #673ab7;
$deep-purple-a200: #673ab7;
$deep-purple-a400: #673ab7;
$deep-purple-a700: #673ab7;
$indigo-50: #3f51b5;
$indigo-100: #3f51b5;
$indigo-200: #3f51b5;
$indigo-300: #3f51b5;
$indigo-400: #3f51b5;
$indigo-500: #3f51b5;
$indigo-600: #3f51b5;
$indigo-700: #3f51b5;
$indigo-800: #3f51b5;
$indigo-900: #3f51b5;
$indigo: #3f51b5;
$indigo-a100: #3f51b5;
$indigo-a200: #3f51b5;
$indigo-a400: #3f51b5;
$indigo-a700: #3f51b5;
$blue-50: #2196f3;
$blue-100: #2196f3;
$blue-200: #2196f3;
$blue-300: #2196f3;
$blue-400: #2196f3;
$blue-500: #2196f3;
$blue-600: #2196f3;
$blue-700: #2196f3;
$blue-800: #2196f3;
$blue-900: #2196f3;
$blue: #2196f3;
$blue-a100: #2196f3;
$blue-a200: #2196f3;
$blue-a400: #2196f3;
$blue-a700: #2196f3;
$light-blue-50: #03a9f4;
$light-blue-100: #03a9f4;
$light-blue-200: #03a9f4;
$light-blue-300: #03a9f4;
$light-blue-400: #03a9f4;
$light-blue-500: #03a9f4;
$light-blue-600: #03a9f4;
$light-blue-700: #03a9f4;
$light-blue-800: #03a9f4;
$light-blue-900: #03a9f4;
$light-blue: #03a9f4;
$light-blue-a100: #03a9f4;
$light-blue-a200: #03a9f4;
$light-blue-a400: #03a9f4;
$light-blue-a700: #03a9f4;
$cyan-50: #00bcd4;
$cyan-100: #00bcd4;
$cyan-200: #00bcd4;
$cyan-300: #00bcd4;
$cyan-400: #00bcd4;
$cyan-500: #00bcd4;
$cyan-600: #00bcd4;
$cyan-700: #00bcd4;
$cyan-800: #00bcd4;
$cyan-900: #00bcd4;
$cyan: #00bcd4;
$cyan-a100: #00bcd4;
$cyan-a200: #00bcd4;
$cyan-a400: #00bcd4;
$cyan-a700: #00bcd4;
$teal-50: #009688;
$teal-100: #009688;
$teal-200: #009688;
$teal-300: #009688;
$teal-400: #009688;
$teal-500: #009688;
$teal-600: #009688;
$teal-700: #009688;
$teal-800: #009688;
$teal-900: #009688;
$teal: #009688;
$teal-a100: #009688;
$teal-a200: #009688;
$teal-a400: #009688;
$teal-a700: #009688;
$green-50: #4caf50;
$green-100: #4caf50;
$green-200: #4caf50;
$green-300: #4caf50;
$green-400: #4caf50;
$green-500: #4caf50;
$green-600: #4caf50;
$green-700: #4caf50;
$green-800: #4caf50;
$green-900: #4caf50;
$green: #4caf50;
$green-a100: #4caf50;
$green-a200: #4caf50;
$green-a400: #4caf50;
$green-a700: #4caf50;
$light-green-50: #8bc34a;
$light-green-100: #8bc34a;
$light-green-200: #8bc34a;
$light-green-300: #8bc34a;
$light-green-400: #8bc34a;
$light-green-500: #8bc34a;
$light-green-600: #8bc34a;
$light-green-700: #8bc34a;
$light-green-800: #8bc34a;
$light-green-900: #8bc34a;
$light-green: #8bc34a;
$light-green-a100: #8bc34a;
$light-green-a200: #8bc34a;
$light-green-a400: #8bc34a;
$light-green-a700: #8bc34a;
$lime-50: #cddc39;
$lime-100: #cddc39;
$lime-200: #cddc39;
$lime-300: #cddc39;
$lime-400: #cddc39;
$lime-500: #cddc39;
$lime-600: #cddc39;
$lime-700: #cddc39;
$lime-800: #cddc39;
$lime-900: #cddc39;
$lime: #cddc39;
$lime-a100: #cddc39;
$lime-a200: #cddc39;
$lime-a400: #cddc39;
$lime-a700: #cddc39;
$yellow-50: #ffeb3b;
$yellow-100: #ffeb3b;
$yellow-200: #ffeb3b;
$yellow-300: #ffeb3b;
$yellow-400: #ffeb3b;
$yellow-500: #ffeb3b;
$yellow-600: #ffeb3b;
$yellow-700: #ffeb3b;
$yellow-800: #ffeb3b;
$yellow-900: #ffeb3b;
$yellow: #ffeb3b;
$yellow-a100: #ffeb3b;
$yellow-a200: #ffeb3b;
$yellow-a400: #ffeb3b;
$yellow-a700: #ffeb3b;
$amber-50: #ffc107;
$amber-100: #ffc107;
$amber-200: #ffc107;
$amber-300: #ffc107;
$amber-400: #ffc107;
$amber-500: #ffc107;
$amber-600: #ffc107;
$amber-700: #ffc107;
$amber-800: #ffc107;
$amber-900: #ffc107;
$amber: #ffc107;
$amber-a100: #ffc107;
$amber-a200: #ffc107;
$amber-a400: #ffc107;
$amber-a700: #ffc107;
$orange-50: #ff9800;
$orange-100: #ff9800;
$orange-200: #ff9800;
$orange-300: #ff9800;
$orange-400: #ff9800;
$orange-500: #ff9800;
$orange-600: #ff9800;
$orange-700: #ff9800;
$orange-800: #ff9800;
$orange-900: #ff9800;
$orange: #ff9800;
$orange-a100: #ff9800;
$orange-a200: #ff9800;
$orange-a400: #ff9800;
$orange-a700: #ff9800;
$deep-orange-50: #ff5722;
$deep-orange-100: #ff5722;
$deep-orange-200: #ff5722;
$deep-orange-300: #ff5722;
$deep-orange-400: #ff5722;
$deep-orange-500: #ff5722;
$deep-orange-600: #ff5722;
$deep-orange-700: #ff5722;
$deep-orange-800: #ff5722;
$deep-orange-900: #ff5722;
$deep-orange: #ff5722;
$deep-orange-a100: #ff5722;
$deep-orange-a200: #ff5722;
$deep-orange-a400: #ff5722;
$deep-orange-a700: #ff5722;
$brown-50: #795548;
$brown-100: #795548;
$brown-200: #795548;
$brown-300: #795548;
$brown-400: #795548;
$brown-500: #795548;
$brown-600: #795548;
$brown-700: #795548;
$brown-800: #795548;
$brown-900: #795548;
$brown: #795548;
$grey-50: #9e9e9e;
$grey-100: #9e9e9e;
$grey-200: #9e9e9e;
$grey-300: #9e9e9e;
$grey-400: #9e9e9e;
$grey-500: #9e9e9e;
$grey-600: #9e9e9e;
$grey-700: #9e9e9e;
$grey-800: #9e9e9e;
$grey-900: #9e9e9e;
$grey: #9e9e9e;
$blue-grey-50: #607d8b;
$blue-grey-100: #607d8b;
$blue-grey-200: #607d8b;
$blue-grey-300: #607d8b;
$blue-grey-400: #607d8b;
$blue-grey-500: #607d8b;
$blue-grey-600: #607d8b;
$blue-grey-700: #607d8b;
$blue-grey-800: #607d8b;
$blue-grey-900: #607d8b;
$blue-grey: #607d8b;
$black: #000000;
$white: #ffffff;
